/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.m-auto {
    margin-top: auto;
}

.big-hr {
    color: #999999;

}

.small-hr {
    height: 2px;
    width: 20%;
    color: #D0D0D3;
}

.smaller-hr {
    height: 2px;
    width: 10%;
    color: #D0D0D3;
    margin: 3rem 0;
}

.d-flex {
    display: flex;
}

.foot {
    flex-direction: column;
    gap: 1rem;
}

.reverse {
    flex-direction: row-reverse;
}

i {
    margin-right: 0.5rem;
}

.faq {
    background-color: blue;
}

/* containers and semantic tag*/

body {
    font-family: 'Ubuntu', sans-serif;
}

.container-large {
    width: 100%;
    max-width: 80vw;
    margin: 0 auto;
}

.container-small {
    width: 100%;
    max-width: 60vw;
    margin: 0 auto;
}

footer {
    background-color: black;
    color: white;
    font-weight: bold;
    padding-bottom: 4rem;
}

/* header */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 1rem 1rem;
    background-color: white;
    position: fixed;
    z-index: 1;
}

.header-links {
    display: flex;
    gap: 30px;
    align-items: center;
}

header a {
    display: inline-block;
    line-height: 65px;
}

.button.blue.inizia {
    line-height: 35px;
}

/* section-high */

.section-high {
    background-color: #B4D0E7;
}

.jumbotron {
    padding-top: 7rem;
}

.jumbotron>h1 {
    font-size: 5rem;
    font-weight: 700;
}

.little {
    width: 30%;
}

.little>* {
    margin-bottom: 3rem;
}

.btn-loc {
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.big {
    width: 70%;
}

.push-down {
    font-size: 45px;
}

.push-down2 {
    position: relative;
    top: 5rem;
}




/* section-medium-high */

.section-medium-high {
    padding-top: 7rem;
}

.fatturazione {
    margin: 2.5rem 1rem 2.5rem 0;
}

h2 {
    font-size: 2.3rem;
}

h3 {
    font-size: 1.5rem;
}

.radio {
    height: 15px;
    width: 15px;
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
}

.radio:active {
    border: 5px solid #0061FF;
}

.radio.gold:active {
    border: 5px solid #DAA520;
}

.row-subscription {
    width: 100%;
    display: flex;
    justify-content: space-between;


}

.row-subscription>.column {
    width: calc(100% / 3 - 2.5rem);
}

.column-title {
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column-content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem 1.5rem;
}

.column-content>.button {
    margin-left: 2rem;
}

.content-1,
.content-2,
.content-3,
.content-4 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.content-4 {
    display: flex;
    gap: 1rem;
}

.low-subscription {
    margin: 4rem 0;
}

.enterprise {
    line-height: 1.8;

}

.column-title,
.column-content,
.bord-master {
    border-left: 1px solid #D0D0D3;
    border-right: 1px solid #D0D0D3;
    border-bottom: 1px solid #D0D0D3;
}

.column-title {
    border-top: 1px solid #D0D0D3;
}


/* section-medium-low */
.mini-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-content: center;
    margin-top: 3rem;
}

/* section-bottom-table */
.features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.feature {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: calc(100% / 3 - 20px);
    margin: 4rem 0;
}



/* section-bottom-client */

/* partners */
.partners {
    display: flex;
}

.splitted-4-partners,
.entire-partners {
    width: calc(100vw / 3);
    background-color: aqua;
}

.splitted-4-partners {
    display: flex;
    flex-wrap: wrap;

}

.entire-partners {
    background-color: #F5F5F5;
    padding: 4rem;
}

.entire-partners>* {
    margin-bottom: 3rem;
    font-size: 20px;
}

.partners-elements {
    width: calc(100% / 2);
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners-elements>img {
    width: 50%;
    height: 50%;
    filter: invert(1);
}

.el-1-LH {

    border: 25px solid #D1E9CD;
    background-color: #A2D39B;
}

.el-1-RH {
    background-color: #61082B;
}

.el-1-LL {
    background-color: #0093CE;
}

.el-1-RL {
    background-color: #FF1C1C;
}

.el-2-LH {
    background-color: #D5001F;
}

.el-2-RH {
    background-color: #B4D0E7;
}

.el-2-LL {
    background-color: #0D2481;
}

.el-2-RL {
    background-color: #FFD830;
}

/* try-dropbox */
#try-dropbox {
    padding: 2rem 0;
    background-color: #B4D0E7;
}

/* faq */
.faq {
    background-color: #FFFFFF;
}

.faq-row-1:active .ask1 {
    display: none;
}

.faq-row-1:active .answer1 {
    display: block;
}

.answer1 {
    display: none;
}

.faq-row-2:active .ask2 {
    display: none;
}

.faq-row-2:active .answer2 {
    display: block;
}

.answer2 {
    display: none;
}

.faq-row-3:active .ask3 {
    display: none;
}

.faq-row-3:active .answer3 {
    display: block;
}

.answer3 {
    display: none;
}

.ask1,
.ask2,
.ask3 {
    display: flex;
    justify-content: space-between;
}

/* footer */

.upper-footer {
    display: flex;
    justify-content: space-between;
}

.footer-column {
    margin-top: 4rem;
}


/* utility */
.button>a {
    line-height: 0.5;
    display: inline-block;
    border: 1px solid white;
    background-color: white;
    color: black;
    height: 2rem;
    padding: 10px;
    box-shadow: 5px 5px 5px black;
}

.button>a:hover {
    filter: invert(1);
    font-weight: bolder;
    box-shadow: 5px 5px 5px white;
}

.button.blue {
    display: inline-block;
    background-color: #0061FF;
    border: 1px solid #0061FF;
    color: white;
    min-width: 80px;
    padding: 5px 12px;
    box-shadow: 5px 5px 5px black;

}

.button.blue:hover {
    filter: brightness(300%);
    border-radius: 5px;
    color: black;

}

.borded>a {

    max-width: 222px;
}

.blue-icon {
    color: #0061FF;
}

.bold-title {
    font-weight: bold;
}

.classic-link {
    text-decoration: underline;
    color: #0061FF;
}

.DPbordeaux {
    color: #61082B;
}

.frequency {
    color: #999999;
}